.banner_m {
    margin: auto;
    width: 74vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom:50px;
    .title {
      padding-top: 65px;
      font-weight: 700;
      font-size: 14px;
      color: #404040;
      font-family: 'Pretendard-Regular'

    }
    .swiper {
      .slide {
        display: flex;
        justify-content: center;
        box-sizing:border-box;
        margin-top: 25px;
        img {
          display: block;
          width: 100%;
          border-radius: 30px;
          margin-right: 20px;
        }
      }
    }
  }