.myLike {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Pretendard-Regular';
    .header {
        font-family: 'Pretendard-Regular';
        border-bottom: 2px solid rgb(51, 51, 51);
        padding-bottom: 1rem;
        z-index: 200;
        h1 {
          font-size: 1.4rem;
          font-weight: 800;
          color: rgb(51, 51, 51);
        }
      }
    .likeNum {
      position: absolute;
      top: 15px;
      left: 92px;
      font-size: 1.4rem;
      font-weight: bold;
    }
    .page {
      display: flex;
      justify-content: center;
      margin: 30px 0 60px;
    }
    ul {
      padding: 0;
      li {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px 0px;
        border-bottom: 1px solid #f4f4f4;
        box-sizing: border-box;
        overflow: hidden;
        a {
            text-decoration: none;
            color: inherit;
          }
        .img {
          width: 100px;
          height: 100px;
          display: flex;
          align-items: center;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
          }
          .soldOut {
            position: absolute;
            background-color: rgba(255, 255, 255, .7);
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #a99773;
            font-weight: bold; 
          }
        }
        .product {
          display: flex;
          flex-flow: column;
          gap: 13px;
          p {
            margin-top: 0;
            font-size: 14px;
            margin-bottom: 15px
          }
          span {
            font-size: 16px;
            font-weight: bold;
          }
        }
        .button {
          margin-left: auto;
          display: flex;
          flex-flow: column;
          gap: 10px;
          position: relative;
          button {
            width: 85px;
            height: 35px;
            &:first-child {
              color: #2d2d2d;
              border: 1px solid #dedede;
            }
            &:nth-child(2) {
              padding: 0 12px 0 28px;
            }
            span {
              font-size: 12px;
            }
          }
          .cart {
            position: absolute;
            bottom: 12px;
            left: 20px;
            cursor: pointer;
          }
        }
      }
    }
    .nav {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        button {
          display: flex;
          align-items: center;
          font-size: 15px;
          cursor: pointer;
          background-color: transparent;
          outline: none;
          border: none;
        }
      }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: 100%;
      height: 557px;
      p {
        color: #eeeeee;
      }
    }
  }