.detail {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    font-family: 'Pretendard-Regular';
    width: 74vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 150px;

    .imgarea {
      width: 65%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .productImage {
        width: 80%;
        margin-bottom: 20px;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }

      .detailImages {
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;

        .detailImage {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
      }
    }

    .menu {
      width: 35%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-top: 20px;
      padding-left: 40px;
      border-left: 1px solid #eeeeee;

      .info {
        .title {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 15px;
        }

        .price {
          font-size: 20px;
          font-weight: bold;
          color: #404040;
          margin-bottom: 20px;
        }

        .desc {
          line-height: 1.5;
          color: #404040;
          font-size: 16px;
        }
      }

      .total {
        border-top: 2px solid #eeeeee;
        padding-top: 20px;

        .countwrap {
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            font-size: 16px;
            font-weight: 700;
            color: #404040;
          }

          .count {
            display: flex;
            align-items: center;
            gap: 10px;

            button {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              border: 1px solid #404040;
              background-color: #fff;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        .totalprice {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;

          p {
            font-size: 18px;
            font-weight: 700;
            color: #404040;
          }
        }
      }

      .button {
        display: flex;
        flex-direction: column;
        gap: 10px;

        button {
          width: 100%;
          padding: 10px;
          font-size: 16px;
          font-weight: bold;
          border-radius: 8px;
          cursor: pointer;

          &:disabled {
            background-color: gray;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
