.button {
  font-family: 'Pretendard-Regular';
  width: 100%;
  height: 54px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #B8A683; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #dcccad;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.displayNone {
  display: none;
}

.white {
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
}

.brown {
  background-color: #B8A683;
  color: #fff;
}
